* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: snow;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    margin-top: 2vh;
    width: 90vw;
}

#new-image-notification {
    position: fixed;
    width: 3vw;
    top: 15px;
    right: 15px;
    animation: notification 5000ms infinite;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    gap: 3vh;
}

p {
    font-size: 1em;
    font-weight: 500;
}

h1 {
    font-family: "Open Sans", sans-serif;
    /* letter-spacing: 0.1em; */
    font-size: 4em;
    font-weight: 700;
    background-image: linear-gradient(
        to right,
        gold,
        coral,
        cornflowerblue,
        mediumspringgreen
    );
    -webkit-background-clip: text;
    /* background-clip: text; */
    color: transparent;
    background-size: 300%;
    background-position: -100%;
    animation: animatedH1 5s infinite alternate-reverse;
}

.form-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    margin-top: 3vh;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.form-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

/* .form-upload label */
label {
    position: absolute;
    left: 0;
    cursor: text;
    transform-origin: 0 0;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

/* .form-upload input { */
input {
    outline: none;
    border: none;
    background-color: unset;
    border-bottom: 0.5px solid black;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

/* .form-upload input:focus + label, */
input:focus + label,
input:not(:placeholder-shown) + label {
    color: rgb(109, 102, 96);
    transform: translateY(-1.2em) scale(0.8);
}

#photo {
    border: none;
    font-size: 0.9em;
}

#results-grid {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2vw;
    /* make sure rows stay the same height in mobile view */
    grid-auto-rows: 30vw;
}

.image {
    position: relative;
}

.image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.status {
    position: relative;
    font-style: italic;
    color: slategray;
}

/* adding empty content before the status message so that it always has height and doesn't push down the content */
.status:empty::before {
    content: "";
    display: inline-block;
}

.error {
    font-style: italic;
    color: tomato;
    white-space: pre-wrap;
}

.btn-submit {
    margin-top: 3vh;
    background-color: lightgrey;
    font-size: 1em;
    font-weight: bolder;
    padding: 1vh 4vw;
    border: 3px solid transparent;
    border-radius: 50px;
}

.btn-submit:hover {
    background-color: lightsteelblue;
}

.btn-submit:active {
    background-color: slategray;
    color: snow;
}

.img-description {
    position: absolute;
    bottom: 0.5vw;
    left: 2vw;
    color: snow;
    text-shadow: 1px 1px 1px #000;
}

.modal {
    max-width: calc(100% - 60px);
    max-height: calc(100% - 80px);
    background-color: snow;
    position: fixed;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 105;
    padding: 0.5vw;
    padding-bottom: 2vh;
    /* color: black; */
}

.modal-image-container {
    /* width: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5vw;
}

#modal-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.modal-content {
    overflow: auto;
    max-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
}

#close-modal {
    align-self: flex-end;
    padding-bottom: 2%;
    opacity: 0.5;
    cursor: pointer;
}

#next,
#prev {
    opacity: 0.5;
    cursor: pointer;
}

.modal-description {
    font-size: 0.8em;
    margin-left: 2vw;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* stretch the overlay */
    inset: 0;
    z-index: 99;
}

#detail-component {
    margin-left: 2vw;
    font-size: 0.6em;
    color: gray;
    margin-top: 0.2vh;
}

.comment {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    margin-left: 2vw;
}

.comment-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin-top: 1vh;
}

.comment h5:last-of-type {
    margin-top: 2vh;
}

.comment-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    position: relative;
}

#comment-submit {
    padding: 0.5vh 1vw;
    margin-top: 0;
    font-size: 0.8em;
}

/* .comment-form input {
    margin-right: 20px;
} */

.comments > p,
#error-comment {
    font-size: 0.8em;
}

#delete-image {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 0.8em;
    color: slategray;
    cursor: pointer;
    margin-top: 1vh;
    margin-left: 2vw;
    align-self: flex-start;
}

#delete-image:hover {
    text-decoration: underline;
}

/* @keyframes animatedH1 {
    to {
        background-position: 100%;
    }
} */

@keyframes notification {
    0% {
        transform: rotate(0deg);
    }
    8.0% {
        transform: rotate(0deg);
    }
    12.0% {
        transform: rotate(42deg);
    }
    16.0% {
        transform: rotate(-35deg);
    }
    20.0% {
        transform: rotate(0deg);
    }
    23.0% {
        transform: rotate(28deg);
    }
    26.0% {
        transform: rotate(-20deg);
    }
    29.0% {
        transform: rotate(0deg);
    }
    31.0% {
        transform: rotate(16deg);
    }
    33.0% {
        transform: rotate(-12deg);
    }
    35.0% {
        transform: rotate(0deg);
    }
    37.0% {
        transform: rotate(-6deg);
    }
    39.0% {
        transform: rotate(0deg);
    }
    40.0% {
        transform: rotate(6deg);
    }
    44.0% {
        transform: rotate(-3deg);
    }
    49.0% {
        transform: rotate(2deg);
    }
    55.0% {
        transform: rotate(0deg);
    }
    62.0% {
        transform: rotate(1deg);
    }
    70.0% {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    #results-grid {
        grid-template-columns: 1fr;
        /* make sure rows stay the same height in mobile view */
        grid-auto-rows: 90vh;
    }

    .form-row {
        grid-template-columns: repeat(auto-fill, minmax(177px, 1fr));
        gap: 3vh;
    }

    h1 {
        font-size: 3em;
    }

    .modal {
        /* max-width: calc(100% - 20px); */
        max-height: calc(100% - 10px);
        top: auto;
        left: auto;
        transform: translate(0);
    }

    .modal-content {
        max-height: calc(100vh - 125px);
    }

    .comment-form {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 2vh;
    }

    #new-image-notification {
        width: 5vw;
        top: 10px;
        right: 10px;
    }
}

/* @media screen and (orientation: portrait) {
    .modal > img {
        max-width: 50%;
    }
}

@media screen and (orientation: landscape) {
    .modal > img {
        max-height: 50%;
    }
} */
