* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: seashell;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    margin-top: 2vh;
}

/* #container {
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    gap: 3vh;
    padding-top: 2vh;
    width: 100%;
} */

p {
    font-size: 1.5em;
    font-weight: 300;
}

h1 {
    font-family: "Merriweather", serif;
    font-weight: 700;
}

#results-grid {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    /* make sure rows stay the same height in mobile view */
    grid-auto-rows: 1fr;
}

.form-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    margin-top: 1vh;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(4, 0.75fr);
    gap: 1vh;
}

.form-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid black; */
    /* gap: 1vh; */
    position: relative;
}

.btn-submit {
    margin-top: 2vh;
    background-color: aquamarine;
    font-size: 1.2em;
    padding: 1vh;
    border: 3px solid transparent;
    border-radius: 50px;
}

.image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-description {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    color: snow;
}

.modal {
    width: 50vw;
    background-color: black;
    position: fixed;
    align-self: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    padding: 1%;
    color: snow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#close-modal {
    align-self: flex-end;
    padding-bottom: 3%;
    opacity: 0.5;
    cursor: pointer;
}

.modal > img {
    object-fit: cover;
    width: 100%;
}

.modal-date-username {
    font-size: 0.8em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #results-grid {
        grid-template-columns: 1fr;
    }
}
